In [20]:
import pandas as pd 
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv("../../data/titanic.csv")

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df = df[['Survived', 'Pclass', 'Sex', 'Age']]
df.dropna(axis=0, inplace=True)
df['Sex'].replace(['male', 'female'], [0, 1], inplace=True)
df.head()

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
model = KNeighborsClassifier()

In [15]:
y= df['Survived']
X= df.drop('Survived', axis=1)

In [24]:
X

     Pclass  Sex   Age
0         3    0  22.0
1         1    1  38.0
2         3    1  26.0
3         1    1  35.0
4         3    0  35.0
..      ...  ...   ...
885       3    1  39.0
886       2    0  27.0
887       1    1  19.0
889       1    0  26.0
890       3    0  32.0

[714 rows x 3 columns]

In [17]:
model.fit(X, y)
model.score(X,y)

0.8417366946778712

In [40]:
def survie(model, Pclass=1, Sex=0, Age=23.0):
    x = np.array([Pclass, Sex, Age]).reshape(1,3)
    print(model.predict(x))
    print(model.predict_proba(x))

In [41]:
survie(model)

[1]
[[0.4 0.6]]

/Users/thibaultcolin/Desktop/trainModel/venv/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/Users/thibaultcolin/Desktop/trainModel/venv/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(